<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Edit Description</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>

<body>

	<div class="row">
  		<div class="col-sm-9">

  			<h1>Edit Description</h1>
  			<p>If you believe that the desription can be improved to help in finding the target object, please edit it below and click "Submit"</p>

  			<textarea class="form-control" rows="10">This is where the starting description will be.</textarea>
  			<br>
  			<button type="button" class="btn btn-primary">Submit</button>

  		</div>
	</div>

</body>
</html>