<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find the Thing!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #street-view {
        height: 300px;
        width: 100%;
      }
      #overlay {
        position: absolute;
        z-index: 10;
        pointer-events: none;
        height: 300px;
        width: 100%;
      }
  </style>
</head>
<body>
	<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-7">
  			<h1>Find the Thing!</h1>
  			<p>Based on the description below, please locate and click on the obejct.</p>
          <form id = "HIT" method="POST" > <!--action="{{ name.amazon_host }}" >-->
      			<p class="lead">This is where the description will be.</p>
            <svg id="overlay">
              <defs>
                <mask id="mask">
                  <rect width=100% height=100% fill="grey" />
                  <circle cx=50% cy=50% r=75 fill="black" />
                </mask>
              </defs>
              <rect width=100% height=100% fill="white" mask="url(#mask)" />
              <circle cx=50% cy=50% r=5 stroke-width=3 stroke="white" fill="none" opacity=0.5 />
              <circle cx=50% cy=50% r=75 stroke-width=1 stroke="white" fill="none" />
            </svg>
            <div id="street-view"></div>
            <br>
            <textarea class="form-control" rows="10" name="description">This is where the starting description will be.</textarea>
            <br>
            <input type="hidden" id="heading" name="heading"/>
            <input type="hidden" id="pitch" name="pitch"/>
            <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
            <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
            <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
            <input type="submit" class="btn btn-primary" value="Submit" onclick = 'submitForm()' />
          </form>
  		</div>
	</div>
</body>
<script>
    // SUBMIT SCRIPT
    // Sends data back to server via XHR
    function submitForm (){
      var form = document.querySelector("#HIT");
      var d = new FormData(form);
      // New HttpRequest instance
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "/submit");
      xmlhttp.send(d);
      // Submit back to AWS
      form.action ="{{ name.amazon_host }}";
      form.submit();
    }
</script>
<script>
  // SET UP GSV PANORAMA
  // Initialize the container
  function initialize() {
    var panorama = new google.maps.StreetViewPanorama(document.getElementById('street-view'),
      {
        position: {lat: parseFloat("{{name.trial.lat}}"), lng: parseFloat("{{name.trial.lng}}")},
        pov: {heading: 165, pitch: 0},
        zoom: 1,
        visible: true,
        linksControl: false,
        zoomControl: false,
        fullscreenControl: false,
        panControl: false,
        enableCloseButton: false,
        addressControl:  false
      });
      // Listener to keep form fields updated with pitch and heading
      panorama.addListener('pov_changed', function() {
          var headingCell = document.getElementById('heading');
          var pitchCell = document.getElementById('pitch');
          var zoomCell = document.getElementById('zoom');
          headingCell.value = panorama.getPov().heading + '';
          pitchCell.value = panorama.getPov().pitch + '';
          pitchCell.value = panorama.getPov().zoom + '';
      });
      // Listener to keep people from wandering off
      panorama.addListener('position_changed', function() {
        setTimeout(function() {
          panorama.setPosition({lat: parseFloat("{{name.trial.lat}}"), lng: parseFloat("{{name.trial.lng}}")});
        }, 500);
      })
     }
</script>
<script async defer src="{{name.gmaps_url}}"></script>
</html>
