<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find the Thing!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-7">
  			<h1>Find the Thing!</h1>
  			<p>Based on the description below, please locate and click on the obejct.</p>
          <!--<form id = "endForm" action="{{ name.amazon_host }}" method="POST">-->
          <form id = "endForm" onclick=submitTwice() method="POST">
      			<p class="lead">This is where the description will be.</p>
            <div id="street-view" style="height:25%; width:100%"></div>
            <br>
            <textarea class="form-control" rows="10" name="description">This is where the starting description will be.</textarea>
            <br>
            <input type="hidden" id="x" value="999" name="x"/>
            <input type="hidden" id="y" value="999" name="y"/>
            <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
            <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
            <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
            <input type="submit" class="btn btn-primary" value="Submit"/>
          </form>
  		</div>
	</div>
  <div style="visibility:hidden">
  <iframe name="ifr1" width="20" height="20"></iframe>
  <iframe name="ifr2" width="20" height="20"></iframe>
  </div>

</body>
<script type="text/javascript">
  function submitTwice(){
    var f = document.getElementById("endForm");
    console.log('SUBMIT LOCAL');
    f.action = '/submit';
    //f.target = 'ifr1';
    console.log('SUBMIT AWS');
    f.action = '{{ name.amazon_host }}';
    //f.target = 'ifr2';
    f.submit();
    f.submit();
  }
</script>
<script>
  var panorama;
  function initialize() {
    panorama = new google.maps.StreetViewPanorama(document.getElementById('street-view'),
        { position: {lat: parseFloat("{{name.trial.lat}}"), lng: parseFloat("{{name.trial.lng}}")},
          pov: {heading: 165, pitch: 0},
          zoom: 1
        });
  }
</script>
<script async defer
     src="{{ name.gmaps_url}}">
</script>
</html>
