<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Edit Description</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>

<body>
  <div class="col-sm-9">
  <h3>CS279 FINAL PROJECT</h3>
  <a href="/find">find</a>
  <br>
  <a href="/verify">verify</a>
  <br>
  <a href="/edit">edit</a>
  <br>
  <a href="/rank">rank</a>
  </div>
</body>
</html>
