<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Edit Description</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>

<body>

	<div class="row">
  		<div class="col-sm-9">
        <form id = "endForm" action="{{ name.amazon_host }}" method="POST">
  			<h1>Verification</h1>
  			<p>Please uncheck any images that do not seem to match the description.</p>

  			<p class="lead">This is where the description will be.</p>

  			<div class="checkbox">
  			  <label>
  			    <input type="checkbox" name="edit1" value="" checked>
  			    <img src="https://maps.googleapis.com/maps/api/streetview?size=200x200&location=42.3720257,-71.1141907&heading=151.78&pitch=-0.76&key=AIzaSyA4tZ5mi3ZDA_ypkluBV49Xae5KLW5xaUE" alt="Object 1" height="200" width="200">
  			  </label>
  			</div>
  			<div class="checkbox">
  			  <label>
  			    <input type="checkbox" name="edit2" value="" checked>
  			    <img src="https://maps.googleapis.com/maps/api/streetview?size=200x200&location=42.3720257,-71.1141907&heading=151.78&pitch=-0.76&key=AIzaSyA4tZ5mi3ZDA_ypkluBV49Xae5KLW5xaUE" alt="Object 2" height="200" width="200">
  			  </label>
  			</div>
  			<div class="checkbox">
  			  <label>
  			    <input type="checkbox" name="edit3" value="" checked>
  			    <img src="https://maps.googleapis.com/maps/api/streetview?size=200x200&location=42.3720,-71.1149&heading=151.78&pitch=-0.76&key=AIzaSyA4tZ5mi3ZDA_ypkluBV49Xae5KLW5xaUE" alt="Object 3" height="200" width="200">
  			  </label>
  			</div>
  			<div class="checkbox">
  			  <label>
            <input type="checkbox" name="edit4" value="" checked>
		        <img src="https://maps.googleapis.com/maps/api/streetview?size=200x200&location=42.3720257,-71.1141907&heading=151.78&pitch=-0.76&key=AIzaSyA4tZ5mi3ZDA_ypkluBV49Xae5KLW5xaUE" alt="Object 4" height="200" width="200">
  			  </label>
		    </div>
        <input type="hidden" id="user-input" value="" name="user-input"/>
        <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
        <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
        <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
        <input type="submit" class="btn btn-primary" value="Submit"/>
      </form>
			<br>
  			<!--<button type="button" class="btn btn-primary">Submit</button>-->

  		</div>
	</div>

</body>
</html>
