<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Verify Selections</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>

<body>

	<div class="row">
  		<div class="col-sm-9">
        <form id = "endForm" action="{{ name.amazon_host }}" method="POST">
  			<h1>Verification</h1>
  			<p>Please uncheck any images that do not seem to match the description.</p>

  			<p class="lead">This is where the description will be.</p>

  			<div class="checkbox">
  			  <label>
  			    <input type="checkbox" value="valid" name="{{ name.img1 }}" checked>
  			    <img src="https://raw.githubusercontent.com/brian-ho/cs279-final-project/master/images/object1.png" alt="Object 1" height="200" width="181">
  			  </label>
  			</div>
  			<div class="checkbox">
  			  <label>
  			    <input type="checkbox" value="valid" name="{{ name.img2 }}" checked>
  			    <img src="https://raw.githubusercontent.com/brian-ho/cs279-final-project/master/images/object1.png" alt="Object 1" height="200" width="181">
  			  </label>
  			</div>
  			<div class="checkbox">
  			  <label>
  			    <input type="checkbox" value="valid" name="{{ name.img3 }}" checked>
  			    <img src="https://raw.githubusercontent.com/brian-ho/cs279-final-project/master/images/object1.png" alt="Object 1" height="200" width="181">
  			  </label>
  			</div>
  			<div class="checkbox">
  			  <label>
            <input type="checkbox" value="valid" name="{{ name.img4 }}" checked>
		        <img src="https://raw.githubusercontent.com/brian-ho/cs279-final-project/master/images/object1.png" alt="Object 1" height="200" width="181">
  			  </label>
		    </div>
        <input type="hidden" id="user-input" value="" name="user-input"/>
        <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
        <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
        <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
        <input type="submit" class="btn btn-primary" value="Submit"/>
      </form>
			<br>
  			<!--<button type="button" class="btn btn-primary">Submit</button>-->

  		</div>
	</div>

</body>
</html>
